@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat !important;
}

#kt_app_wrapper{
    margin-right: 0 !important;
}

.btn-primary{
    background-color: #F57C00 !important;
    color: white !important;
    border: 1px solid #F57C00 !important;
    transition: 0.5s;
}

.btn-default{
    background-color: #fcf9f9 !important;
    color: #413f3f !important;
    border: 1px solid #fcf9f9 !important;
    transition: 0.5s;
}

.btn-default:hover{
    background-color: #eee7e7 !important;
    color: #413f3f !important;
    border: 1px solid #eee7e7 !important;
    transition: 0.5s;
}

.btn-primary:focus, .btn-primary:active{
    color: #F57C00 !important;
}

.btn-outline-danger{
    color: red !important;
    border: 1px solid red !important;
    background-color: transparent !important;
}

.border-hover-primary{
    border: 2px solid #fff !important;
    transition: 0.5s;
}

.border-hover-primary:hover{
    border: 2px solid #F57C00 !important;
    transition: 0.5s;
}

.ml-10{
    margin-left: 10px;
}

.btn-outline-danger:hover{
    color: white !important;
    border: 1px solid red !important;
    background-color: red !important;
}

.btn-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-primary:hover{
    color: #F57C00 !important;
    background-color: white !important;
    transition: 0.5s;
}

.card{
    box-shadow: -6px -1px 12.5px -2.5px #f3eded !important;
}

.error{
    margin-left: 10px !important;
    color: red;
}

option{
    font-family: Montserrat !important;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple-flex{
    display: flex;
    gap: 10px;
}

.badge-light-primary{
    background-color: #F57C00 !important;
    color: white !important;
}

.btn-add-task{
    background-color: #f7f3f3;
    color: #413f3f;
}

.btn-add-task:hover{
    background-color: #eee7e7;
    color: #413f3f;
}

.css-13cymwt-control{
    background: #F9F9F9 !important;
    border: none !important;
    padding: 4px 3px !important;
    border-radius: 10px !important;
}

.css-t3ipsp-control{
    background: #F9F9F9 !important;
    border: none !important;
    padding: 4px 3px !important;
    border-radius: 10px !important;
    outline: none;
}

.sub-table{
    width: 194%;
    margin-left: 20px;
}

.ml20{
    margin-left: 20px;
}
.pt0{
    padding-top: 0px;
}

.pl20{
    padding-left: 20px !important;
}

.fs10{
    font-size: 10px !important;
}

.pointer{
    cursor: pointer;
}

.btn-tab{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px;
}
.btn-tab.active{
    border-bottom: 2px solid #F57C00;
    background-color: rgba(245, 124, 0, 0.3);
    animation-duration: 0.5s;
}

.message-card-left{
    background-color: rgba(245, 124, 0, 0.2);
    color: black;
    padding: 10px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.message-card-right{
    background-color: #F57C00;
    color: white;
    padding: 10px 15px;
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.user-avatar{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    background-color: #F57C00;
    color: white;
}

.mb0{
    margin-bottom: 0px !important;
}

.btn-switch-left{
    border: 2px solid #F57C00 !important;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    color: #F57C00 !important;
}

.btn-switch-right{
    border: 2px solid #F57C00 !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    color: #F57C00 !important;
}

.switch-active{
    background-color: #F57C00 !important;
    color: white !important;
}

.total-progress{
    height: 5px;
    background-color: #f7f3f3;
    border-radius: 20px;
}

.done{
    height: 5px;
    background-color: #F57C00;
    border-radius: 20px;
}

.active-page{
    background-color: #F57C00;
    color: white;
    border-radius: 20px;
}
.active-page:hover{
    background-color: #dd6f00 !important;
    color: white;
}

.service-icon{
    height: 50px;
    border-radius: 10px;
}

.service-image{
    height: 200px;
}

.btn-dropdown{
    border: none;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
}

.dropdown{
    padding: 10px 10px;
    margin-top: -7px;
    position: absolute;
    right: 10px;
    box-shadow: 3px 3px 10.5px -3px #dddddd !important;
    text-align: left;
}

.dropdown-link{
    padding: 5px 10px;
    color: #413f3f;
    border-radius: 7px;
    background: none;
    border: none;
}

.dropdown-link:hover{
    background-color: #f8f4f4;
}

.ml5{
    margin-left: 5px;
}

.text-danger{
    color: red !important;
}

.image-outer-placeholder{
    background-color: #f7f2f2;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.image-placeholder{
    width: 100%;
    padding: 50px 120px;
    transition: 0.5s;
}

.image-outer-placeholder:hover .image-placeholder {
    opacity: 0.7;
}

.file-input{
    display: none;
}

.menu-link.current{
    background: #f7f2f2 !important;
}

a{
    color: #dd6f00;
}

.usecase-thumbnail{
    width: 100%;
    border-radius: 20px;
    height: 400px;
    object-fit: contain;
}

.blog-featured-image{
    height: auto;
    width: 100%;
    border-radius: 10px;
}